<div class="dropdown dropdown-end">
  <div class="indicator">
    <span class="indicator-item indicator-start badge badge-primary">0</span>
    <label tabindex="0" class="btn btn-outline btn-primary btn-circle">
      <i class="fa-solid fa-message"></i>
    </label>
  </div>

  <ul
    tabindex="0"
    class="dropdown-content menu w-80 space-y-1 mt-5 p-2 rounded-box bg-base-100 shadow"
  >
    <h2 class="p-4 text-2xl font-bold">Recent messages</h2>
    <li>
      <a>
        <div>
          <h3 class="font-bold">Lorem title</h3>
          <p>Lorem description</p>
        </div>
      </a>
    </li>
    <li>
      <a>
        <div>
          <h3 class="font-bold">Lorem title</h3>
          <p>Lorem description</p>
        </div>
      </a>
    </li>
  </ul>
</div>
