<div class="wr-radial-background wr-page-container-for-centered-element">
  <div class="card w-full max-w-lg bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title mb-4 text-4xl font-bold">Sign in</h2>
      <form [formGroup]="form">
        <div class="space-y-4 mb-8">
          <div class="form-control">
            <label for="email" class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              id="email"
              formControlName="email"
              type="text"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label for="passaword" class="label">
              <span class="label-text">Password</span>
            </label>
            <input
              id="passaword"
              formControlName="password"
              type="password"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label cursor-pointer justify-start gap-2">
              <input
                formControlName="rememberMe"
                type="checkbox"
                class="checkbox checkbox-primary"
              />
              <span>Remember me</span>
            </label>
          </div>
        </div>
        <button
          [disabled]="form.invalid"
          class="btn btn-block btn-primary gap-2 mb-4"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          Sign in
        </button>
      </form>
      <a routerLink="/auth/sign-up" class="text-center text-primary font-bold">
        Don't you have an account? Sign up
      </a>
    </div>
  </div>
</div>
