@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex flex-col min-h-screen h-full scrollbar-hide;
}

body,
app-root {
  @apply flex-1 wr-radial-background;
}

.wr-radial-background {
  @apply bg-base-300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f4f6f9; */
  background-image: radial-gradient(hsl(var(--p)), transparent 1px),
    radial-gradient(hsl(var(--p)), transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.wr-page-container-for-centered-element {
  @apply w-full h-full md:flex md:justify-center md:items-center;
}

.wr-page-title {
  @apply text-4xl font-bold;
}

.ng-touched.ng-invalid {
  @apply input-error;
}
